
/* Title section */

#title {
    background-color: pink;
    height: 600px; 
}

/* Home - Testimonial Section */

.skills {
    padding: 8% 10%;
    text-align: center;
}

.skills-image {
 padding-left: 40%;
 padding-bottom: 5%;
}

#testimonials {
    background-color: lightblue;
    padding: 10% 15%;
    text-align: center;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

img {
    margin: 5%;
}

h2 {
    text-align: center;
}

/* Resume */

.container-fluid {
    background-color: pink;
    padding: 7% 15%;
}

#skills {
    background-color: blanchedalmond;
}

/* Portfolio - Projects Grid */

.portfolio-image {
    width: 90%;
}
