
/* Title section */

/*#title {
    height: 600px; 
    background-color: #b7472a;
}
*/

.container-fluid {
    height: 600px; 
    background-color: #b7472a;
    padding: 3% 15%;
} 

h1 {
    color: #fff2e5;
}

.tagline {
    margin-left: 15%;
    padding-top: 15%;
}


/* Home - Testimonial Section */

#logo {
    font-family: 'Indie Flower', cursive;
    padding-left: 4%;
}

.nav-items-color {
    color: be ;
}

.skills {
    padding: 8% 10%;
    text-align: center;
}

.skills-image {
 padding-left: 40%;
 padding-bottom: 5%;
}

#testimonials {
    background-color: lightblue;
    padding: 10% 15%;
    text-align: center;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

img {
    margin: 5%;
}

h2 {
    text-align: center;
}

/* Resume */

.resume-section {
    padding: 5% 8%;
}

.grid-box {
    padding: 5px;
}

#skills {
    background-color: blanchedalmond;
}

h2 {
    padding: 5% 20% 0 ;
    margin-left: auto;
  }

h3 {
    padding: 3% 0;
  }

p {
    
    text-align: justify;
    text-justify: inter-word;
    padding: 5% 5% 5% 0;
    margin: 10% 15% 5% 0;
}

hr {
    width: 80%;
    margin-left: 0;
    
    padding-bottom: 1rem;
}

/* Portfolio - Projects Grid */

.portfolio-image {
    width: 90%;
}
